body {
  margin: 0;
  background-color: rgb(3, 76, 3);
}
html,
body {
  font-size: 18px;
}
.container {
  max-width: 1232px;
  margin: 30 px auto;
  background: white;
  padding: 30px;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
  color: rgb(223, 235, 4);
}
button {
  background: rgb(55, 120, 184);
  border: 1px solid black;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 0.9rem;
}
button.hover {
  background: orangered;
}
button:active {
  background: black;
  color: #fff;
}
.slider-time {
  border: 2px solid black;
  width: 300px;
  height: auto;
  margin: 20px auto;
}
.slider-line-time {
  height: 256px;
  display: flex;
  background: orange;
  position: relative;
  left: 0;
}
p {
  text-align: center;
  color: rgb(223, 235, 4);
  font-size: 30px;
}
.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  overflow-y: auto;
  overflow-x: hidden;
  transition: all 0.8s ease 0s;
}
.popup.open {
  opacity: 1;
  visibility: visible;
}
.popup_body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 10px;
}
.popup.open .popup_content {
  /* background-color: white;
  color: black;
  max-width: 800px;
  padding: 30px 10 px;
  position: relative; */
  transform: perspective(600px) translate(0x, 0%) rotate(0deg);
  opacity: 1;
}

.pop_area {
  position: absolute;
}
.popup_title {
  font-size: 40px;
  margin: 0px 0px 1em 0px;
}
.popup_close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
}
