* {
  margin: 0;
  background-color: rgb(3, 76, 3);
}
html,
body {
  font-size: 18px;
}
.container {
  max-width: 1232px;
  margin: 30 px auto;
  background: white;
  padding: 30px;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
  color: rgb(223, 235, 4);
}
button {
  background: none;
  border: 1px solid black;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 0.9rem;

}
button.hover {
  background: orangered;
}
button:active {
  background: black;
  color: #fff;
}
.slider-time{
  border: 2px solid black;
  width: 300px;
  height: auto;
  margin: 20px auto;
  /* overflow: hidden; */
}
.slider-line-time{
  height: 256px;
  display: flex;
  background: orange;
  position: relative;
  left: 0;
  /* transition: all ease 1s; */
}
